body {
    font-family: Arial, sans-serif;
    background-color: #c882e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    }
    #titulo {
    font-size: 24px;
    margin-bottom: 20px;
    }
    #caixaPerguntas {
    font-size: 18px;
    margin-bottom: 20px;
    }
    #alternativas button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #e609c1;
    color: rgb(128, 11, 151);
    border: none;
    cursor: pointer;
    }
    #alternativas button:hover {
    background-color: #e298d2;
    }